body{
    background-image: url('./../../assets/img/skys.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: cornsilk;
    
}

#col1{
    background-color: rgb(59, 255, 229);
    border: black solid 1px;
    margin-bottom: 2.5%;
    margin-top: 1%;
}
#col2{
    background-color: rgb(255, 135, 56);
    border: black solid 1px;
    margin-bottom: 2.5%;
    margin-top: 1%;
}
#col3{
    background-color: rgb(117, 255, 74);
    border: black solid 1px;
    margin-bottom: 2.5%;
    margin-top: 1%;
}

