
/* LINK NO VISITADO*/
a:link{
    color: red;
}

/* LINK VISITADO*/
a:visited{
    color: green;
}

/* LINK pasar cursor */
a:hover{
    color: palevioletred;
}

/* LINK manetener presionado */
a:active{
    color: purple;
}

body{
    background: rgb(0, 189, 180) 
                url(./../../assets/img/white.png)
                no-repeat
                right
                fixed;
}