
/* LINK NO VISITADO*/
a:link{
    color: darkred;
}

/* LINK VISITADO*/
a:visited{
    color: dimgray;
}

/* LINK pasar cursor */
a:hover{
    color: palevioletred;
}

/* LINK manetener presionado */
a:active{
    color: purple;
}

body{
    background: rgb(214, 216, 216) 
                url(./../../assets/img/white.png)
                no-repeat
                right
                fixed;
}