<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bucles</title>
</head>
<body>
    <script>

        console.log("For: ");
        for (let i = 0; i < 10; i++) {

            console.log("Paso #", i);
            
        }

        console.log(" ");

        console.log("While: ");
        let a = 0, b = 0;
        while (a < 6) {

            console.log(a);
            a++;
        }

        console.log(" ");

        console.log("Do While: ");
        do {

            console.log(a);

        } while (a < 6);


        console.log(" ");

        console.log("Foreach: ");

        const arreglo = [45, 5, 0, 30, 26, 7]

        arreglo.forEach(value => {
            console.log("Valor es: " + value);
        });

        console.log(" ");

        console.log("Foreach 2: ")
        arreglo.forEach((index, value, array) => {
            console.log("El indice es: " + index + " el valor es: " + value);
        });

        console.log(" ");
        console.log("Metodos de arreglos");
        
        console.log("Arreglo: ",arreglo.toString());
        console.log("Pop: ",arreglo.pop());
        console.log(arreglo);
        console.log("Push: ",arreglo.push(55));
        console.log(arreglo);
        console.log("Shift: ",arreglo.shift());
        console.log(arreglo);
        console.log("Slice: ",arreglo.splice(2, 1));
        console.log(arreglo);


        const result = arreglo.filter(value => {
            return value > 20
        });
        console.log("Filter # > 20: ",result);

    </script>
</body>
</html>