<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condicionales</title>
</head>
<body>
    <script>

        console.log(" ");
        const edad = Number( prompt('Ingresa tu edad: ') );

        if (edad < 20) {
            console.log('Eres menor de 20 años');
            
        } else if(edad >= 20 && edad <= 40){
            console.log('Tienes entre 20 y 40 años');

        } else {
            console.log('Eres mayor de 40 años');
        }

        if ( (edad>=1) && (edad<=100) ) {
            console.log(edad ,": Esta en el rango entre 0 - 100");
        }

        console.log("Edad: ",edad);

        console.log(" ");

        console.log("Switch case");

        
        switch (new Date().getDay() ) {
            case 6:
                text = 'Hoy es Sabado';
                console.log('Hoy es Sabado');
                break;

            case 0:
                text = 'Hoy es Domingo';
                console.log('Hoy es Domingo');
                break;
        
            default:
                text = 'Hoy es un dia entre semana';
                console.log('Hoy es un dia entre semana');
                break;
        }

        document.write(text);


    </script>
</body>
</html>