<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numerico</title>


</head>
<body>
    
    <script>
        let x = 10;
        let y = 3.7;

        console.log("Suma: ", x + y ); //Suma
        console.log("Resta: ", x - y ); //Resta
        console.log("Multi: ", x * y ); //Multiplicacion
        console.log("Division: ", x / y ); //Division
        console.log("Modulo: ", x % y ); //Modulo
        
        console.log("X++: ", 2 + x++ ); //Despues de ejecutar esta linea x vale 11
        console.log("X= ", x);
        console.log("++Y: ", 2 + ++y ); //Durante la ejecucion y vale 5.7
        console.log("Y= ", y);

        
        
    </script>
</body>
</html>