<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetos</title>
</head>
<body>
    <script>

        var persona = {
            nombre: 'Walter',
            apellido: 'White',
            aficiones: ['Quimica', 'Cocina', 'Programar'],
            inscrito: true
        };

        console.log("Nombre: ",persona.nombre);
        console.log("Apellido: ",persona.apellido);
        
        for (let index = 0; index <= persona.aficiones.length-1; index++) {
            console.log("Aficiones: ",persona.aficiones[index]);
        }
        
        console.log("Inscrito: ",persona.inscrito);

        console.log(" ");

        console.log("Valores en el objeto: ")
        console.log(Object.keys(persona).length) //Para saber si un objeto esta vacio

    </script>
</body>
</html>